<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpanda.jls.Dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.qpanda.jls.pojo.Comment">
    <id column="commentId" jdbcType="INTEGER" property="commentid" />
    <result column="commentContent" jdbcType="VARCHAR" property="commentcontent" />
    <result column="commentAuthorId" jdbcType="INTEGER" property="commentauthorid" />
    <result column="commentDate" jdbcType="DATE" property="commentdate" />
    <result column="commentArticleId" jdbcType="INTEGER" property="commentarticleid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    commentId, commentContent, commentAuthorId, commentDate, commentArticleId
  </sql>
  <select id="selectByExample" parameterType="com.qpanda.jls.pojo.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qpanda.jls.pojo.Comment">
    insert into comment (commentId, commentContent, commentAuthorId, 
      commentDate, commentArticleId)
    values (#{commentid,jdbcType=INTEGER}, #{commentcontent,jdbcType=VARCHAR}, #{commentauthorid,jdbcType=INTEGER}, 
      #{commentdate,jdbcType=DATE}, #{commentarticleid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qpanda.jls.pojo.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        commentId,
      </if>
      <if test="commentcontent != null">
        commentContent,
      </if>
      <if test="commentauthorid != null">
        commentAuthorId,
      </if>
      <if test="commentdate != null">
        commentDate,
      </if>
      <if test="commentarticleid != null">
        commentArticleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="commentcontent != null">
        #{commentcontent,jdbcType=VARCHAR},
      </if>
      <if test="commentauthorid != null">
        #{commentauthorid,jdbcType=INTEGER},
      </if>
      <if test="commentdate != null">
        #{commentdate,jdbcType=DATE},
      </if>
      <if test="commentarticleid != null">
        #{commentarticleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qpanda.jls.pojo.Comment">
    update comment
    <set>
      <if test="commentcontent != null">
        commentContent = #{commentcontent,jdbcType=VARCHAR},
      </if>
      <if test="commentauthorid != null">
        commentAuthorId = #{commentauthorid,jdbcType=INTEGER},
      </if>
      <if test="commentdate != null">
        commentDate = #{commentdate,jdbcType=DATE},
      </if>
      <if test="commentarticleid != null">
        commentArticleId = #{commentarticleid,jdbcType=INTEGER},
      </if>
    </set>
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qpanda.jls.pojo.Comment">
    update comment
    set commentContent = #{commentcontent,jdbcType=VARCHAR},
      commentAuthorId = #{commentauthorid,jdbcType=INTEGER},
      commentDate = #{commentdate,jdbcType=DATE},
      commentArticleId = #{commentarticleid,jdbcType=INTEGER}
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>
</mapper>