<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpanda.jls.Dao.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.qpanda.jls.pojo.SysLog">
    <id column="syslogId" jdbcType="INTEGER" property="syslogid" />
    <result column="syslogIp" jdbcType="VARCHAR" property="syslogip" />
    <result column="syslogDate" jdbcType="DATE" property="syslogdate" />
    <result column="syslogUrl" jdbcType="VARCHAR" property="syslogurl" />
    <result column="syslogBy" jdbcType="VARCHAR" property="syslogby" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    syslogId, syslogIp, syslogDate, syslogUrl, syslogBy
  </sql>
  <select id="selectByExample" parameterType="com.qpanda.jls.pojo.SysLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from syslog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from syslog
    where syslogId = #{syslogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from syslog
    where syslogId = #{syslogid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qpanda.jls.pojo.SysLog">
    insert into syslog (syslogId, syslogIp, syslogDate, 
      syslogUrl, syslogBy)
    values (#{syslogid,jdbcType=INTEGER}, #{syslogip,jdbcType=VARCHAR}, #{syslogdate,jdbcType=DATE}, 
      #{syslogurl,jdbcType=VARCHAR}, #{syslogby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qpanda.jls.pojo.SysLog">
    insert into syslog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="syslogid != null">
        syslogId,
      </if>
      <if test="syslogip != null">
        syslogIp,
      </if>
      <if test="syslogdate != null">
        syslogDate,
      </if>
      <if test="syslogurl != null">
        syslogUrl,
      </if>
      <if test="syslogby != null">
        syslogBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="syslogid != null">
        #{syslogid,jdbcType=INTEGER},
      </if>
      <if test="syslogip != null">
        #{syslogip,jdbcType=VARCHAR},
      </if>
      <if test="syslogdate != null">
        #{syslogdate,jdbcType=DATE},
      </if>
      <if test="syslogurl != null">
        #{syslogurl,jdbcType=VARCHAR},
      </if>
      <if test="syslogby != null">
        #{syslogby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qpanda.jls.pojo.SysLog">
    update syslog
    <set>
      <if test="syslogip != null">
        syslogIp = #{syslogip,jdbcType=VARCHAR},
      </if>
      <if test="syslogdate != null">
        syslogDate = #{syslogdate,jdbcType=DATE},
      </if>
      <if test="syslogurl != null">
        syslogUrl = #{syslogurl,jdbcType=VARCHAR},
      </if>
      <if test="syslogby != null">
        syslogBy = #{syslogby,jdbcType=VARCHAR},
      </if>
    </set>
    where syslogId = #{syslogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qpanda.jls.pojo.SysLog">
    update syslog
    set syslogIp = #{syslogip,jdbcType=VARCHAR},
      syslogDate = #{syslogdate,jdbcType=DATE},
      syslogUrl = #{syslogurl,jdbcType=VARCHAR},
      syslogBy = #{syslogby,jdbcType=VARCHAR}
    where syslogId = #{syslogid,jdbcType=INTEGER}
  </update>
</mapper>